.container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.split {
    width: 60px;
}

.progress {
    display: inline-flex;
}

.progress ul {
    margin: 0;
    padding: 0;
}

.progress ul li {
    list-style: none;
    margin-bottom: 8px;
    font-family: Iceland;
    font-weight: normal;
    font-size: 24px;
    line-height: .86;
}

.ready, .pending {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.ready ul, .pending ul {
    margin-right: 15px;
}

.ready ul:last-child, .pending ul:last-child {
    margin-right: 0;
}



.ready li {
    color: #00CCCC;
}