.mask {
    position: relative;
    z-index: 25;
}

.modal {
    color: #000;
    background: #1C1C21;
    border-radius: 40px;
    border: 1px solid rgba(76, 76, 255, 0.2);
    position: relative;
    z-index: 20;
}

.close {
    position: absolute;
    top: 60px;
    right: 40px;
    cursor: pointer;
}

.alertClose {
    top: 40px !important;
}