.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: #000; /* default background color */
    background-color: rgba(0, 0, 0, 0.6); /* background opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
