.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: #000; /* default background color */
    background-color: rgba(0, 0, 0, 0.6); /* background opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.mask {
    position: relative;
    z-index: 25;
}

.modal {
    color: #000;
    background: #1C1C21;
    border-radius: 40px;
    border: 1px solid rgba(76, 76, 255, 0.2);
    /*box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);*/
    position: relative;
    z-index: 20;
}

.close {
    position: absolute;
    cursor: pointer;
}