.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.content {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 80px;
    width: 100%;
}

.dropHover {
    background-color: #212128;
}

.dropEmptyHover :global(.empty) {
    background-color: #3e3e4f;
}

.dropBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    min-height: 300px;
}

.order {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.order .button {
    position: absolute;
}

.price {
    margin-right: 40px;
    display: inline-flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
}

.price svg {
    margin-left: 10px;
}

.element {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
    margin-left: 16px;
    width: 100%;
}

.element:first-child {
    margin-top: 0;
}

.elementIcon {
    width: 32px;
    cursor: move;
}

.hover :global(.constructor-element) {
    background-color: #3e3e4f;
}

.emptyElement {
    background-color: #2F2F37;
    height: 80px;
    text-align: center;
    width: 536px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.emptyElement .bunHover {
    background-color: red;
}

.hoverEmpty {
    background-color: #3e3e4f;
}

.top {
    border-radius: var(--top-constructor-item-border-radius);
}

.bottom {
    border-radius: var(--bottom-constructor-item-border-radius);
}

.middle {
    border-radius: var(--common-border-radius-s);
}