body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jet Brains Mono";
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.container {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.rows {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col {
  flex: 1;
}

.fit {
  height: 100%;
}

.col-split {
  width: 40px;
}

.col-split-mini {
  width: 36px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-error {
  color: #ff0000;
}

.text-info {
  color: #00CCCC;
}

.display-flex {
  display: flex;
}

.default-link {
  color: #4C4CFF;
}

.overflow-auto {
  overflow: auto;
}

/* form wrapper for login, register, forgot-password, reset-password */
.form-wrapper, .box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;
  overflow: hidden;
}

.box-inner {
  width: 780px;
  display: flex;
  overflow: auto;
}

.form-box {
  width: 480px;
}

.form-field .input_size_default {
  width: 480px;
}

.align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-icon {
  display: inline-flex;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
}

.pointer {
  cursor: pointer;
}