body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jet Brains Mono";
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.container {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.rows {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col {
  flex: 1;
}

.fit {
  height: 100%;
}

.col-split {
  width: 40px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.display-flex {
  display: flex;
}